<div class="page-header">
  <h3>
    Gerenciar locações
    <span class="pull-right">
      <%= button_tag 'Nova Locação', id:"rooba", class: "btn btn-primary", title: "Digite CPF do Cliente", data: { content: (render "client_cpf_form").gsub('“', "'")  } %>
    </span>
  </h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Data de Cadastro</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.client.name %></td>
        <td><%= rent.created_at %></td>
        <td class="text-right">
          <%= link_to 'Editar', edit_rent_path(rent), class: "btn btn-default" %>
          <%= link_to 'Remover', rent, class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>