<div class="page-header">
  <h3>
    Gerenciar veículos
    <span class="pull-right">
      <%= link_to 'Novo Veículo', new_vehicle_path, class: "btn btn-primary" %>
    </span>
  </h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Disponibilidade</th>
      <th>Modelo</th>
      <th>Placa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><strong><%= vehicle.status(false) %></strong></td>
        <td><%= "#{vehicle.model.manufacturer.name} #{vehicle.model.name}" %></td>
        <td><%= vehicle.plate %></td>
        <td class="text-right">
          <%= link_to 'Editar', edit_vehicle_path(vehicle), class: "btn btn-default" %>
          <%= link_to 'Remover', vehicle, class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
