<!DOCTYPE html>
<html>
<head>
  <title>ProjetoIntegracao</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" id="header" role="navigation">
    <div class="navbar-header">
      <%= link_to "Locação de Automóveis", root_path, class: "navbar-brand" %></li>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Gerenciar Clientes", clients_path %></li>
        <li><%= link_to "Gerenciar Veículos", vehicles_path %></li>
        <li><%= link_to "Gerenciar Locações", rents_path %></li>
        <li><%= link_to "Tabela de Preços", "#" %></li>
        <li><%= link_to "Relatórios", "#" %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <span class="text-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </span>

</body>
</html>
